mixin book-review(imgName, author, bookName, desc, date, rate)
	.books__item
		.books__item-desc
			img.books__item-img(src='source/img/books/'+imgName alt=bookName)
			.date-rate
				.date= date
				.rate= rate
			.books__item-header= author
				p.books__item-name= bookName
			p= desc
		input.btn(type='button')
	
section.books
	span.year 2020
	+book-review('hot.jpg', 'Г. Флинн', '"Острые предметы"', 'Не по моему выбору, не по моей воле,  уже вторая книга в этом году, через которую красной нитью тянется проблема взаимоотношений родителей и ребенка. Для меня тема интересная, возможно, поэтому книга зацепила. Не сильно захватывающее, но увлекательное и невероятно легкое чтиво. Нет длинных и нудных описаний внешности, интерьера, пейзажа. Почти все четко и по делу, по тропинке сюжета. Действие происходит в маленьком американском городке, где пропала девочка. В прошлом году здесь же произошло убийство ребенка. Эти события заинтересовывают редактора чикагской газеты и он поручает своему репортеру отправиться туда и набросать статью, пока этой темой не занялись конкуренты. Главная героиня, Камилла, тот самый репортер, она родом из Уинд-Гапа, этого злополучного города. Поэтому редактор уверен, что ей будет легко работать в родном городке, и пойдет на пользу встреча с семьей. Но с Камиллой все не так просто, она еле волочит груз проблем из прошлого, обладает пристрастием к алкоголю и некоторыми редкими «опасными» увлечениями. В Уинд-Гапе полиция неохотно идет на контакт и не позволяет ей проникать в подробности расследования, поэтому она берет интервью у местных жителей, своих старых знакомых, у семей погибшей и пропавшей девочек, знакомится с новыми людьми. Постепенно она получает все новые и новые сведения, которые с одной стороны проливают свет на расследование, а с другой - запутывают его, достаточно интригуя меня, читателя. Быстрая криминальная история, действительно похожая на статью с первой полосы какого-нибудь периодического издания.', '18 июн', '8/10')
	+book-review('answer.jpg', 'А. Пиз, Б. Пиз', '"Ответ. Проверенная методика достижения недостижимого"', 'Не знаю почему, но я сильно люблю такие книги. Бесконечно оптимистичные, максимально положительные, с верой в счастливое будущее, в исполнение желаний и избавление от хлопот. Даже если книга и дает ответы не на все возможные вопросы, она направляет мысленный поток, заряжает, мотивирует, толкает к действию. К тому, чтобы обозначить на бумаге свои цели, написать к ним планы и, наконец, сделать первый маленький шажок! Книга внушает доверие. В ней некоторое количество разнообразных историй из жизни, коротких историй людей, добившихся своих целей. Кроме того, в конце жутко трогательная история самих авторов, переживших черную полосу в жизни. Они рассказывают, как своими руками вытащили себя со дна и подробно перечисляют действия, которые были ими предприняты. В конце концов, они совершили практически невозможное. Фотографии в книге отлично дополнили текст. Для себя я извлекла идею, что не стоит бояться отказа или неудачи и пробовать, пробовать, пробовать снова.', '15 июн', '8/10') 
	+book-review('sivil.jpg', 'Ф.Р. Шрайбер', '"Сивилла"', 'В процессе...', '...', '8/10')
	+book-review('space.png', 'К. Ленголдь', '"Просто космос"', 'В процессе...', '...', '7/10')
	+book-review('han.png', 'Тит Нат Хан', '"Бесстрашие"', 'В процессе...', '...', '6/10')
	+book-review('every.jpg', 'Тит Нат Хан', '"Мир в каждом шаге"', 'В процессе...', '...', '9/10')

